<mat-card class="home-card">
    <mat-card-header>
      <mat-card-title class="white-text">Welcome to My Angular App!</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p class="white-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis justo nec orci feugiat, id congue nisl
        fermentum. Sed at orci quis eros ultricies tincidunt. Phasellus sagittis odio ut sollicitudin eleifend. Integer
        fringilla suscipit velit, sed tristique felis suscipit non. Aliquam erat volutpat.
      </p>
      <p class="white-text">
        Ut malesuada urna id lorem tincidunt, non volutpat turpis tempus. Vestibulum dictum, sapien sed feugiat cursus,
        urna urna posuere justo, et fermentum enim libero ac nulla. Sed vitae felis non sapien malesuada facilisis.
      </p>
    </mat-card-content>
  </mat-card>
  