.details-card {
  margin: 20px;
  color: white;
}

mat-card-header {
  background-color: #f5f5f5;
  color: black; 
}

mat-card-title {
  font-size: 24px;
  font-weight: bold;
  color: inherit; 
}

mat-card-content {
  font-size: 16px;
  line-height: 1.5;
  color: inherit; 
}
